.gameBoardContainer {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

header {
    font-family: "Agency FB", serif;
    text-align: center;
    margin-bottom: 0;
}

.title {
    font-weight: bolder;
    font-size: 40px;
}

button {
    border-radius: 15px;
}

.score {
    font-size: 40px;
}

.buttonBar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startButton {
    cursor: pointer;
    padding: 15px;
    width: 100px;
}

.gameBoard {
    margin: inherit;
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetButton {
    margin-left: 10px;
    cursor: pointer;
    padding: 15px;
    width: 100px;
}